:root{
    box-sizing: border-box;
    font-family: U8, Helvetica, Arial,sans-serif;
}

*,
::before,
::after{
    box-sizing: inherit;
}
body * + *{
    margin-top: 1em;
}

#content .section *{
    margin-top: 0;
}

body{
    background-color: #eee;
}
header{
    border-radius: 0.5em;
    color:#fff;
    background-color: #0090d2;
    padding:0.5em;
    text-align: center;
}

#biodata{
    display:flex;
    align-items: center;
}


.container{
    max-width: 700px;
    margin: 0 auto;
}
.section {
    background-color: #fff;
    border-radius: 0.5em;
    /* padding: 0.5em; */
}
.section img{
    width: 200px;
    height: 200px;
    /* object-fit:scale-down; */
    object-fit: cover;
    /* border-style: double; */
    border: 9px solid #eee;
    border-radius: 100px;
    margin:0 1em;
}

.sub-section{
    background-color: #0090d2;
    width:70%;
    border-radius: 0 .5em .5em 0;
    padding:.5em;
}
.grid{
    margin: 0;
    display: grid;
    grid-template-columns: 1.3fr 2fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: .2em;
}
.grid > *{
    background-color: #fff;
    border-radius: 0.5em;
    text-align: left;
    padding: .3em 0 .3em 1em;
    margin:0;
}
#biodata .title{
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding:.3em 0;
}
.bio_data h2{
    padding: 3px;
    text-align: center;
    margin: .5em -.5em;
    /* margin-top: 10px; */
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
}





.summaries{
    padding: 3vh 0;
    margin-bottom: 0;
    background-color: #0090d2;
    color: #fff;
    text-align: center;
    border-radius: .5em .5em 0 0;
}
.summary-topic{
    display:flex;
    align-items: center;
}
.summary-topic p{
    /* padding:0 1.5em; */
    text-align: justify;
}
.summary-topic .title{
    width:20%;
    text-align: center;
    background: #0090d2;
    margin:0;
    font-weight: 700;
    text-transform: uppercase;
    color:#eee;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}
.summary-topic .description{
    width:80%;
    color:#0093e3;
    font-weight: 700;
    padding:0 .5em;
}
.summary-topic > .first{
    border-top: 1px solid #fff;
}
 
label, input{
    display:block;
}