:root{
    box-sizing: border-box;
    font-family:Helvetica, Arial,sans-serif;
}

*,
::before,
::after{
    box-sizing: inherit;
}
body * + *{
    margin-top: 1em;
}
body{
    background-color: #eee;
}
header{
    border-radius: 0.5em;
    color:#fff;
    background-color: #0090d2;
    padding:0.5em;
}

#biodata{
    display:flex;
}

.container{
    max-width: 700px;
    margin: 0 auto;
}
.section {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 1.5em;
}
.section img{
    width: 200px;
    height: 200px;
    /* object-fit:scale-down; */
    object-fit: cover;
    /* border-style: double; */
    border: 9px solid #eee;
    border-radius: 100px;
    margin-right: 3em;
}

.sub-section{
    background-color: #0090d2;
    width:70%;
    border-radius: 0;
}
.grid{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: .2em;
}
.grid > *{
    background-color: #fff;
    border-radius: 0.5em;
    text-align: center;
    padding: .5em 0;
    margin:0;
}
h2{
    padding: 3px;
    text-align: center;
    margin: .5em -3px;
    /* margin-top: 10px; */
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    
}